# Android Build Outputs
build/
**/build/
*.apk
*.aab
*.dex
*.class
*.aar

# IDE Files
.idea/
*.iml
.gradle/
local.properties

# OS Files
.DS_Store
Thumbs.db
local.build.sh
local.install.sh

# Log files
*.log
crash.log

# Node Modules
node_modules/

# Dependencies & Libraries
apps/proton-libs/
apps/gopenpgp/
apps/*-build-cache/

# Errors & Temp
.errors/
